
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.attribution { 
  font-size: 14px; 
  text-align: center; 
  font-family: 'Montserrat', sans-serif;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
  font-family: 'Fraunces', serif;
}
body {
  background: #eee6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.preview-card {
  background: #fff;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  border-radius: 10px;
  overflow: hidden;
}
.img-container {
  width: 300px;
  height: 500px;
  background: url(/images/image-product-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.text-container {
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 30px 25px;
  justify-content: space-between;
}
.text-container > h1 {
  font-size: 15px;
  letter-spacing: 5px;
  color: rgb(128, 128, 128);
  font-family: 'Montserrat', sans-serif;
}
.text-container > h2 {
  font-size: 35px;
  font-family: 'Fraunces', serif;
  font-weight: 700;
}
.text-container > p {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  color: #6a7274;
}
.price-container{
  display: flex;
  justify-content: center;
}
.price-container > p {
  margin-right: 10px;
  color: hsl(158, 36%, 37%);
  font-size: 30px;
  font-weight: 500;
  font-family: 'Fraunces', serif;
}
.price-container s {
  color: #6a7274;
  font-family: 'Montserrat', sans-serif;
  place-self: center;
}
.btn {
  width: 230px;
  height: 35px;
  background: hsl(159, 52%, 17%);
  border-radius: 5px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  place-self: center;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn p {
  margin-left: 10px;
  font-size: 13px;
}


@media only screen and (max-width: 480px) {  
.preview-card {
  flex-direction: column;
  margin: 50px auto;
  max-width: 300px;
  max-height: 600px;
}
.img-container {
  width: 300px;
  height: 250px;
  background: url(/images/image-product-mobile.jpg);
}
.text-container {
  display: flex;
  flex-direction: column;
  padding: 30px 25px;
  height: 350px;
  width: 300px;
}
.text-container h2 {
  font-size: 28px;
}
.price-container{
  justify-content: left;
  margin: 20px 0;
}
.btn {
  width: 250px;
  height: 40px;
}
}
