* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.card {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
.img-container {
  width: 300px;
  height: 450px;
  background: url(/images/image-product-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-content {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  padding: 30px 38px 30px 30px;
  justify-content: space-between;
}
.head {
  font-size: 14px;
  letter-spacing: 5px;
  color: rgb(128, 128, 128);
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
.main-content > h1 {
  width: 200px;
  font-size: 32px;
  line-height: 1;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color: rgb(45, 40, 40);
}
.description {
  font-size: 14px;
  line-height: 1.7;
  font-family: 'Montserrat', sans-serif;
  color: #6a7274;
}
.price-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 250px;
}
.price-container > p {
  color: hsl(158, 36%, 37%);
  font-size: 30px;
  font-weight: 700;
  font-family: 'Fraunces', serif;
  width: 140px;
  height: 40px;
}
.price-container > s {
  color: #6a7274;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
}
.btn {
  width: 250px;
  height: 45px;
  background: hsl(159, 55%, 32%);
  border-radius: 10px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  place-self: center;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn:hover {
  background: hsl(159, 81%, 18%);
}
.btn > p {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
}
.attribution { 
  font-size: 14px; 
  text-align: center; 
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
  font-family: 'Fraunces', serif;
}

@media only screen and (max-width: 660px) {  
.card {
  flex-direction: column;
  margin: 20px auto;
}
.img-container {
  width: 335px;
  height: 200px;
  background: url(/images/image-product-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-content {
  width: 335px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.head {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}
.main-content > h1 {
  font-size: 30px;
  width: auto;
}
.description {
  font-size: 14px;
  line-height: 1.7;
  margin: 10px auto;
  padding-right: 0;
}
.btn {
  width: 280px;
}
.attribution { 
  font-size: 11px; 
  margin: 0;
  height: 50px;
}
}

@media only screen and (max-width: 350px) {  
  .card {
    flex-direction: column;
    margin: 20px auto;
  }
  .img-container {
    width: 280px;
    height: 200px;
    background: url(/images/image-product-mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .main-content {
    width: 280px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
  .head {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
  }
  .main-content > h1 {
    font-size: 30px;
  }
  .description {
    font-size: 14px;
    line-height: 1.7;
    margin: 10px auto;
    padding-right: 0;
  }
  .btn {
    width: 230px;
  }
  .attribution { 
    font-size: 10px; 
  }
  }
